body{
	--e-global-color-primary					: #000000;
	--e-global-color-secondary					: #FAFAFA;
	--e-global-color-text						: #666666;
	--e-global-color-accent						: #6A52E0;
	--e-global-color-accentsecondary			: #DCFD7D;
	--e-global-color-white						: #FFFFFF;
	--e-global-color-black						: #000000;
	--e-global-color-divider					: #6666661A;
	--e-global-color-darkdivider				: #FFFFFF1A;
	--e-global-color-background                 : #FFFFFF;
	--e-global-typography-primary-font-family	: "Archivo", sans-serif;
	--e-global-typography-secondary-font-family	: "Archivo", sans-serif;
	--e-global-typography-text-font-family		: "Archivo", sans-serif;
	--e-global-typography-accent-font-family    : "Archivo", sans-serif;
}